<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DocumentRepository.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A16D50F31F3EF49800C9ABDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A16D510A1F3EF49800C9ABDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A16D51151F3EF49800C9ABDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
